* {padding: 0; margin: 0}

/*MENU*/ 
.kontener {width:1520px;background:#FAF9F6; margin:auto	}
menu{display:front;position:sticky;top:0;height:80px; background: white;text-align: right;font-size : 20px; line-height:70px; padding-right:75px;} 
menu .kiri img {height:90px;width:70px; margin-left:105px;float:left;padding-top :15px}
menu .kiri h2{background:#001F68;padding-top:10px;line-height:105px;margin-left: 25px; font-family:Candara;float: left;margin-top:-5px;letter-spacing:5px; color:white;font-size : 25px;padding-left:30px} 
menu .kiri h1{background:#001F68;padding-top:10px;line-height:105px;font-family:Candara; float: left;margin-top:-5px;letter-spacing:5px; color: white;font-size : 25px;padding-right:30px}
menu img {height:30px;margin-top:28px;margin-bottom:-7px}
menu a{font-weight: 600; margin-top:-10px;color:#001F68;padding-top:8px;padding-bottom:5px;padding-left:10px;padding-right:10px	; border-radius:25px;border:1px solid #FAF9F6 ;text-decoration: none;letter-spacing:1px; margin:8px 8px 8px 8px;font-size:15px;font-family:Myriad Pro Light;}  
menu a:hover {color : white;background:#001F68; transition: all 0.2s ease;border-radius:25px;border:1px solid #FAF9F6}

.cov {background:url(log.png)no-repeat;background-size: 100%;;height:591px;}

.login {width:450px;border-radius:25px; border:1px solid #001F68; height:550px; background:white;color:#001F68;margin-left:540px;margin-top:50px;font-family:Myriad Pro Light;}
.login h2 {font-size:40px; padding-top:50px;margin-left:70px}
.login h3 {font-size:17px; padding-top:20px;margin-left:80px}
.login input {margin-left:70px;margin-top:5px;border:1px solid #001F68;font-family:Myriad Pro Light;width: 300px; padding-top:5px;height: 35px; padding-left: 10px; border-radius:10px ;margin-bottom:10px}
.login .buttons button {margin-left:70px;margin-top:5px;background:#001F68; color: white;border:1px solid #001F68;width: 315px; height: 40px; padding-top:5px;border-radius:10px ;margin-bottom:10px;font-family:Myriad Pro Light}
.login .buttons2 button {margin-left:70px;margin-top:5px;background:black;border:1px solid black;color:white;width: 315px; height: 40px; padding-top:5px; border-radius:10px ;margin-bottom:10px;font-family:Myriad Pro Light}
.login .buttons button:hover{
	background: grey;color: white;
	transition: all 0.5s ease;
	border:none
}
.login .buttons2 button:hover{
	background: grey;color: white;
	transition: all 0.5s ease;
	border:none
}
.login h4 {margin-left:70px;}